<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="./css/styles.css">
<title></title>
</head>
<body>
<div >
<a href="/">Home</a>
<a  href="/about">About</a>
<a  href="/contact">Contact</a>
<a  href="/new">Add Attendee </a>
<a  href="/attendee_list">Attendee list</a>

</div>
<%= yield %>
<footer>
	slau Tech camp 2014
</footer>
</body>
</html>